[Desktop Entry]
Icon=flameshot
Name=Flameshot
Comment=Screenshot Utility
Exec=/usr/bin/flameshot
Terminal=false
Type=Application
Categories=Utility;
Keywords=Screensaver,Power,Saving,Blank
StartupNotify=false
